* {
  margin: 0;
  padding: 0;
}

body {
  background: #aaa;
}

nav {
  background: #021542;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a {
  display: block;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  padding: 30px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
a:hover {
  color: #fff;
  background: #FF534B;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5) inset, 0px 1px 0px rgba(255, 255, 255, 0.1);
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.menu-trigger {
  color: #FF534B;
  font-weight: bold;
  display: none;
}

@media screen and (max-width: 767px) {
  ul {
    display: none;
  }

  li {
    display: block;
  }

  .menu-trigger {
    display: block;
  }
}